nav,
.bottomNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
nav {
    border-bottom: 1px solid #e6e6e6;
    background: #fff;
    padding: 20px;
    position: fixed;
    top: 0;
}
.searchIcon,
.settingsButton,
.profileIcon,
.uploadIcon,
.homeIcon {
    width: 25px;
    height: 25px;
}
.bottomNav {
    padding: 10px; 
    position: fixed; 
    bottom: 0;
    border-top: 1px solid #e6e6e6;
    background: #fff;
}
.settingsButton {
    position: absolute;
    top: 5px;
    right: 5px;
    transition: 300ms;
}
.settings {
    position: fixed;
    top: 30px;
    right: -135px;
    display: flex;
    flex-direction: column;
    width: 135px;
    background: transparent;
    padding: 5px;
    opacity: 0;
    transition: ease-in-out 300ms;
    text-align: right;
}
.settings a {
    padding: 5px;
}
.change {
    right: 0;
    opacity: 1;
}
.rotate {
    transform: rotate(180deg)
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 650px) {
    .bottomNav,
    nav {
        width: 648px;
    }
    .settingsButton {
        position: relative;
        top: 5px;
        left: 618px;      
    }
    .settings {
        right: 400px;
    }
}