.uploadContainer {
    margin-bottom: 20px;
}
.authorContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px;
}
.author {
    display: flex;
    align-items: center;
}
.authorImage {
    height: 32px;
    width: 32px;
    overflow: hidden;
    border-radius: 50%;
}
.authorImage img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.authorName {
    margin-left: 5px;
}
.upload {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.upload img {
    width: 100%;
    height: 100%;
}
.upload p {
    width: 100%;
    height: 100%;   
}
.likeButton {
    background: transparent;
    border: none;
}
.heartIcon {
    width: 25px;
    height: 25px;
}
.like {
    padding: 8px 14px 5px 14px;
}
.description {
    padding-left: 16px;
}