.profilePageContainer {
    margin: 0px 0px 70px 0px;
    min-height: 100vh;
}
.profileContainer {
    margin: 40px 0px 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profileContainer h1,
.profileContainer p {
    max-width: 200px;
    text-align: justify;
}
.userName {
    padding: 10px;
}
.editProfile button {
    margin-top: 20px;
    border: 1px solid #e6e6e6;
    width: 200px;
    height: 34px;
    border-radius: 4px;
    background: transparent;
    font-weight: bold;
    font-size: 14px;
}