.searchForm {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.searchField {
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    width: 250px;
    height: 30px;
    padding: 3px;
}
.searchForm button {
    background: transparent;
    border: none;
}
.searchForm button img {
    height: 20px;
    width: 20px;
    margin-left: 10px;
}
.searchField::placeholder {
    font-size: 12px;
}
.searchResult {
    list-style: none;
}
.searchResult li {
    margin: 10px;
}
.searchResult li img {
    margin-right: 5px;
}
 